PORT=3000

# Internal service URLs
USER_SERVICE_URL=http://localhost:3001
QUESTION_SERVICE_URL=http://localhost:8080
MATCHING_SERVICE_URL=http://localhost:3002
COLLAB_SERVICE_URL=http://localhost:3219
