# API Gateway base URL — used by the collab room question panel
VITE_API_GATEWAY_URL=http://localhost:8080
# No need to modify this, these point the frontend to the api gateway

VITE_USER_API_URL=http://localhost:3000/api/user-service
VITE_QUESTION_API_URL=http://localhost:3000/api/question-service

