DB_CLOUD_URI=mongodb+srv://<USERNAME>:<PASSWORD>@peerprep-grp8.wu6qj3s.mongodb.net/user_service_db?appName=Peerprep-Grp8
DB_LOCAL_URI=mongodb://127.0.0.1:27017/peerprepUserServiceDB
PORT=3001

# Will use cloud MongoDB Atlas database
ENV=PROD

# Secret for creating JWT signature
JWT_SECRET=<SECRET KEY>