DB_CLOUD_URI=mongodb+srv://<USERNAME>:<PASSWORD>@peerprep-grp8.wu6qj3s.mongodb.net/question_service_db?appName=Peerprep-Grp8
DB_LOCAL_URI=mongodb://127.0.0.1:27017/peerprepUserServiceDB
PORT=8080
ENV=PROD